/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables */
:root {
    /* Fonts */
    --FF-PRIMARY: 'Roboto', sans-serif;
    --FF-SECONDARY: 'Open Sans', sans-serif;
    --FF-SIZE: 20px;
    --FF-SSIZE: 14px;

    /* Color */
    --ACCENTCOLOR: #e9b949;
    --SELECTED-BGCOLOR: #FFF8C9;
    --DEFAULT-BGCOLOR: #FFFEFA;
    --TXT-COLOR: #07090D;
}

header {
    width: calc(100% - 48px);
    display: flex;
    justify-content: space-around;
    /* margin: 24px; */
    padding: 16px;
    position: sticky;
}

body {
    font-family: var(--FF-PRIMARY);
    background-color: var(--DEFAULT-BGCOLOR);
}

.logo {
    font-family: var(--FF-PRIMARY);
    width: 200px;
    height: 32px;
    cursor: pointer;
    letter-spacing: 2px;

}

span {
    color: #e9b949;
}

.nav ul {
    font-family: var(--FF-SECONDARY);
    display: flex;
}

.nav ul li {
    list-style: none;
}

.nav ul li a {
    font-weight: 400px;
    text-decoration: none;
    margin: 24px;
}

.nav ul li a {
    color: var(--TXT-COLOR);
    text-decoration: none;
    position: relative;
    padding: 20px;
    font-weight: 700;
}

.about-me {
    background-color: var(--SELECTED-BGCOLOR);
    height: 450px;
    display: flex;
    justify-content: space-around;
}

.subtext {

    margin-top: 120px;

}

.about-me h1 {
    font-family: var(--FF-PRIMARY);
    padding: 4px;
    margin-top: 8px;
}

.about-me p {
    font-family: var(--FF-SECONDARY);
    margin-top: 8px;

}

.about-me button {
    margin-top: 8px;
    padding: 6px;
    width: 80px;
    height: 32px;
    border-radius: 4px;
    background-color: var(--ACCENTCOLOR);
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.social-media {
    margin-top: 24px;
    text-align: center;
}

.social-media ion-icon {
    width: 32px;
    height: 32px;
    margin-right: 20px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius:50%; */
}


.image {
    margin: 24px;
    width: 320px;
    height: 480px;
    float: right;
    border-radius: 8px;

}

.image img {
    width: 280px;
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.intro {
    margin-top: 20px;
    padding: 10px;
    justify-content: space-around;
    margin-left: 12%;
}

.about {
    padding-bottom: 2px;
    border-bottom: 6px solid;
    border-bottom-color: var(--ACCENTCOLOR);
    text-align: center;
    width: fit-content;
    font-family: var(--FF-PRIMARY);
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-left: 40%;
}

.innerimg {
    padding-top: 20px;
    width: 320px;
    height: 480px;
    float: left;
    border-radius: 8px;

}

.innerimg img {
    width: 280px;
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.text {
    padding-top: 40px;
    text-align: justify;
    margin-left: 25%;
    width: 60%;
    font-size: 16px;
    line-height: 1.5;
}

h3 {
    border-bottom: 4px solid var(--ACCENTCOLOR);
    width: fit-content;
    margin-left: 12%;

}

.projects-section {
    display: grid;
    margin-left: 13%;
    width: 150px;
    grid-template-columns: repeat(4, 1fr); /* Adjust the number of columns as needed */
    gap: 80px;
    /* justify-content: space-around; */
}

.myprojects {
    padding: 20px;
    height: 22vh;
    border: 3px solid var(--ACCENTCOLOR);
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
        cursor: pointer;
        
}

.myprojects img {
    height: 9rem;
    width: 9rem;
    object-fit: fill;
}

.myprojects p {
    text-align: center;
    padding-bottom: 5px;
}

.projects-section h4{
    margin-top: 5%;
}

h4{
    font-size: 24px;
    margin-top: 5%;
    position: absolute;
    left: 45%;
    width: fit-content;
    border-bottom: 4px solid #e9b949;
}

.top-projects{
    position: absolute;
    left: 23%;
    margin-top: 10%;
    width: 50%;
    text-align: center;
    padding: 20px;
    height: 60%;
    border: 3px solid var(--ACCENTCOLOR);
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);   
}        

.top-projects p{
    padding-bottom: 10px;
}

.top-projects img{
    height: 14rem;
    width: 12rem;
    object-fit: cover;
    border-radius: 8px;
}

.top-projects #description{
    text-align: justify;
    width: 70%;
    height: 50%;
    position: absolute;
    left: 15%;
}


#look{
    display: block;
    position: absolute;
    top: 80%;
    left: 42%;
    border-radius: 8px;
    border: 1px solid var(--ACCENTCOLOR);
    width: 128px;
    height: 42px;
}

#look:hover{
    background-color: var(--ACCENTCOLOR);
    color: var(--DEFAULT-BGCOLOR);
    transition: 0.5s linear ease-in;
}


.contactMe{
    margin-top: 50%;
}
.social-media {
    margin-top: 24px;
    text-align: center;
}

.social-media ion-icon {
    width: 32px;
    height: 32px;
    margin-right: 20px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius:50%; */
}

h2 {
    border-bottom: 4px solid var(--ACCENTCOLOR);
    width: fit-content;
    margin-top: 20%;
    margin-left: 12%;

}

.form {
    padding: 20px;
    width: 30%;
    margin-top: 20px;
    margin-left: 12%;
    border: 3px solid var(--ACCENTCOLOR);
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


input {
    width: 90%;
    height: 32px;
    font-size: 16px;
    padding: 10px;
    
}

textarea {
    padding: 10px;
    font-size: 16px;
    width: 90%;
    font-family: var(--FF-SECONDARY);
}

.form button {
    width: 90%;
    height: 32px;
    font-size: 16px;
    padding: 10px;
    border: 1px;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--ACCENTCOLOR);
    color: white;
}

form p {
    padding: 10px;

}

.links {
    padding: 20px;
    width: 30%;
    height: 150px;
    margin-top: -20%;
    margin-left: 50%;
    border: 3px solid var(--ACCENTCOLOR);
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.medias ion-icon {
    padding: 8px;
    height: 28px;
    width: 28px;
}
